*
!.gitignore
!CHANGELOG.md
!README.md
!private
!private/api
!private/api
!private/api/digiposaja
!private/api/digiposaja/README.md
!private/api/griyabayar
!private/api/griyabayar/README.md
!private/api/rita
!private/api/rita/README.md
!private/api/sris
!private/api/sris/README.md
!private/api/sidompul
!private/api/sidompul/README.md