*
!.gitignore
!private
!private/api
!private/api
!private/api/digiposaja
!private/api/digiposaja/README.md
!private/api/griyabayar
!private/api/griyabayar/README.md
!private/api/rita
!private/api/rita/README.md